body {
  background: #0e0f0f;
  color: rgb(226, 226, 226);
}

h1 {
  color: rgb(226, 226, 226);
  font-weight: bold;
}

h2 {
  color: rgb(226, 226, 226);
}


h3 {
  color: rgb(226, 226, 226);
}

P {
  color: rgb(226, 226, 226);
}

.news {
  padding: .40em .40em .40em;
  background: #ff64641c;
  font-weight: bold;
  border-style: solid;
  border-color: #602020;
  border-left: none;
  border-right: none;
  font-size: .75em;
}






.banner {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  background: url(../../assets/images/wp9909634.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  background-attachment: local;
}

.banner-text {
  padding-top: 7em;
  filter: drop-shadow(1px 3px 3px #000);
  text-align: center;
  width: 100%;
}

.banner-h2 {
  font-weight: bold;
  font-size: 6em;
  font-size: 4em;
  color: gold;
}

.banner-h3 {
  font-weight: bold;
  font-size: 3em;
  font-size: 2em;
  color: white;
}

.top-block {
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 1em;
  padding-top: 1em;
}


.mid-block {
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  background:rgb(42, 42, 42)
}

.block-title {
  font-weight: bold;
  font-size: 2em;
}

.nav-link {
  color: #dcdcdc;
  padding: .4rem .4rem;
}

.navbar-dark .navbar-brand {
  color: #ffb300;
}

.navbar-brand {
  font-weight: bold;
}

.vehicle-title {
  display: inline-flex;
}

.title-bold {
  font-weight: bold;
  padding-left: .25em;
  font-size: xx-large;
  width: 100%;
}

.fac-title {
  font-weight: bold;
  text-align: center;
}

.fac-title-h2 {
padding-left: 1em;
font-size: 2em;
font-weight: bold;
}

.fac-title-box {
  background: rgb(99, 99, 99);
  height: 2em;
}

.fac-text {
  padding: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.fac-role {
  width: 400px;
  margin-right: .5em;
  margin-bottom: .5em;
}

.fac-equip {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
}

.faction-data {
  display: flex;
  width: fit-content;
}


.fac-box {
  background: black;
  margin-bottom: 1em;
  margin-top: 1em;

}

.fac-img {
  width: 185px;
}

.fac-name {
  background: #2c2d35;
  font-size: .75em;
  text-align: center;
  height: 1.75em;
}

.fac-cat {
  padding-left: .5em;
}


.faction-bar {
  display: flex;
  height: 45px;
}

.sub-title-box {
  background: #161616;
}

.sub-title {
  text-align: center;
  padding-top: 0.5em;
  background: #080808;
}

.stier {
  color:gold
}


.atier {
  color:rgb(0, 255, 0)
}


.btier {
  color:blue
}

.guides {
  padding: 2em;
}

.content {
  padding: 2em;
}

.vehicle-type {
  font-weight: bold;
  text-align: center;
  width: 150px;
}

.vehicle-data {
  display: flex;
  padding: 2em;
  margin-top: 2em;
  background: #211f24;
}

.vehicle-data-group {
  padding-left: 1em;
}

.card {
  width: 175px;
}

.vehicle-content {
  height: 100%;
  width: 175px;
}

.ch {
  height: 25px;
}

.v-table {
  border-collapse: collapse;
  padding: 5px;
}

.v-table th {
  padding: 5px;
}

.v-table td {
  padding: 5px;
  vertical-align: top;
  text-align: left;
}

.map-flex {
  display: flex;
}

.map-title {
  font-weight: bold;
  margin-top: .5em;
}

.map-section {
  margin-left: 2em;
  margin-top: 2em;
}

.map-img {
  width: 200px;
}

.map-buttons {
  padding: .5em;
  padding-left: 0.5em;
  padding-left: 1.75em;
}

.cat-title {
  font-size: 2em;
  font-weight: bold;
}

.vic-flex {
  display: flex;
}

.weak-section {
  margin-left: 2em;
  display: inline-flex;
}

.vehicle-image {
  width: fit-content;
}

.layer-list {
  display: flex;
  margin: 1em;
}

.layer-table {
  border-color: gray;
  border-width: 1.5pt;
  border-style: dashed;
}

.layer-table-self {
  width: 50%;
  border-color: gray;
  border-width: 1.5pt;
  border-style: dashed;
}

.layer-button {
  margin: .5em;
}

.layers-button {
  display: flex;
  margin: 1em;
}

.modal-content {
  background-color: #1e1f21;
}

.modal-body {
  overflow-y: auto;
}

.modal-dialog {
  max-width: 650px;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.v-container {
  display: flex;
}

.left-content {
  display: flex;
  width: 50%;
}

.right-content {
  display: flex
}

.v-icon {
  display: inline;
  width: 35px;
}

.v-name {
  display: inline;
  font-size: 12pt;
}

.v-count {
  display: inline;
  font-size: 12pt;
  color: grey;
}

.v-respawn {
  display: inline;
  font-size: 10pt;
  color: orange;
}

.v-delayed {
  display: inline;
  font-size: 10pt;
  color: red;
}

.v-notes {
  padding: 1em;
}


.ilf {
  display: inline-flex;
}

.ilf {
  display: inline-flex;
}

.p1 {
  padding-left: .5em;
}

.vorange {
  color: orange;
}

.vred {
  color: red;
  font-size: 10pt;
}

.vgreen {
  color: rgb(196, 243, 126);
  font-size: 10pt;
}

.vlblue {
  color: rgb(111, 170, 210);
}

.vlgrey {
  color: rgb(165, 165, 165);
}

.f1 {
  font-size: 14pt;
}

.vi-title {
  font-weight: bold;
  font-size: 18pt;
}

.vis-title {
  font-weight: bold;
}

.vis-name,
.vis-count,
.vis-reload {
  padding-left: .25em;
}

.vis-name {
  font-size: 14pt;
}

.vis-misc {
  font-size: 12pt;
}

.vis-ctitle {
  font-size: 12pt;
  font-weight: bold;
}

.vis-name {
  font-size: 12pt;
}

.vic-img {
  width: 500px;
}

.vic-buttons {}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 2em 1em;
  text-align: left;
}


@media (max-width: 479px) {

  .top-block {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  
  
  .mid-block {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background:rgb(42, 42, 42)
  }

  .banner-text {
    padding-top: 5em;
  }

  .banner-h2 {
    font-size: 3em;
  }

  .banner-h3 {
    font-size: 1.5em;
  }

  .map-flex {
    width: 300px;
    display: block;
  }

  .map-img {
    width: 250px;
  }

  .map-flex {
    width: 100%;
    display: block;
  }

  .vic-img {
    width: 90%;
  }

  .weak-section {
    margin-bottom: 4em;
  }

  .vic-buttons {
    margin: -2.5em;
    padding-left: 0.5em;
    padding-left: 3em;
  }

  .vehicle-data {
    display: block;
    margin-top: 1em;
    padding: 0;
    margin-top: 0;
  }


  .modal-dialog {
    max-width: 95%;
  }

  .v-icon {
    display: inline;
    width: 25px;
  }

  .v-name {
    display: inline;
    font-size: 8pt;
  }

  .v-count {
    display: inline;
    font-size: 6pt;
    color: grey;
  }

  .v-respawn {
    display: inline;
    font-size: 6pt;
    color: orange;
  }

  .v-delayed {
    display: inline;
    font-size: 8pt;
    color: red;
  }

  .v-notes {
    padding: .5em;
  }

  .faction-data {
    display: block;
    width: 100%;
  }

  .fac-img {
    width: 100%;
  }

  .fac-equip{
    display: block;
    padding-left: 0em;
    padding-right: 0em;
  }

  .title-bold {
    font-weight: bold;
    padding-left: .25em;
    font-size: 1em;
    width: 100%;
  }
}