body {
  background: #0e0f0f;
  color: rgb(226, 226, 226);
}

h1 {
  color: rgb(226, 226, 226);
  font-weight: bold;
}

h2 {
  color: rgb(226, 226, 226);
}


h3 {
  color: rgb(226, 226, 226);
}

P {
  color: rgb(226, 226, 226);
}

.nav-link {
  color: #dcdcdc;
  padding: .25rem .5rem;
}

.navbar-dark .navbar-brand {
  color: #ffb300;
}

.vehicle-title {
  display: inline-flex;
}

.title-bold {
  font-weight: bold;
  padding-left: .25em;
  font-size: xx-large;
}

.faction-bar {
  display: flex;
  height: 45px;
}

.guides {
  padding:2em;
}

.content {
  padding: 2em;
}

.vehicle-type {
  font-weight: bold;
  text-align: center;
  width: 150px;
}

.vehicle-data {
  display: flex;
  padding: 2em;
  margin-top: 2em;
}

.vehicle-data-group {
  padding-left: 1em;
}

.card {
  width: 175px;
}

.vehicle-content {
  height: 100%;
  width: 175px;
}

.ch {
  height: 25px;
}

.v-table {
  border-collapse: collapse;
  padding: 5px;
}

.v-table th {
  padding: 5px;
}

.v-table td {
  padding: 5px;
  vertical-align: top;
  text-align: left;
}

.map-flex {
  display: flex;
}

.map-title {
  font-weight: bold;
  margin-top: .5em;
}

.map-section {
  margin-left: 2em;
  margin-top: 2em;
}

.map-img {
  width: 200px;
}

.map-buttons {
  padding: .5em;
  padding-left: 0.5em;
  padding-left: 1.75em;
}

.vic-flex {
  display: flex;
}

.weak-section {
  margin-left: 2em;
  display: inline-flex;
}

.vehicle-image {
  width: fit-content;
}

.layer-list {
  display: flex;
  margin: 1em;
}

.layer-table {
  border-color: gray;
  border-width: 1.5pt;
  border-style: dashed;
}

.layer-table-self {
  width: 50%;
  border-color: gray;
  border-width: 1.5pt;
  border-style: dashed;
}

.layer-button {
  margin: .5em;
}

.layers-button {
  display: flex;
  margin: 1em;
}

.modal-content {
  background-color: #1e1f21;
}

.modal-body {
  overflow-y: auto;
}

.modal-dialog {
  max-width: 650px;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.v-container {
  display: flex;
  justify-content: center;
}

.left-content {
  display: flex;
}

.right-content {
  display: flex
}

.v-icon {
  display: inline;
  width: 50px;
}

.v-name {
  display: inline;
  font-size: 14pt;
}

.v-count {
  display: inline;
  font-size: 12pt;
  color: grey;
}

.v-respawn {
  display: inline;
  font-size: 10pt;
  color: orange;
}

.v-delayed {
  display: inline;
  font-size: 10pt;
  color: red;
}

.v-notes {
  padding: 1em;
}


.ilf {
  display: inline-flex;
}

.ilf {
  display: inline-flex;
}

.p1 {
  padding-left: .5em;
}

.vorange {
  color: orange;
}

.vred {
  color: red;
  font-size: 10pt;
}

.vgreen {
  color: rgb(196, 243, 126);
  font-size: 10pt;
}

.vlblue {
  color: rgb(111, 170, 210);
}

.vlgrey {
  color: rgb(165, 165, 165);
}

.f1 {
  font-size: 14pt;
}

.vi-title {
  font-weight: bold;
  font-size: 18pt;
}

.vis-title {
  font-weight: bold;
}

.vis-name,
.vis-count,
.vis-reload {
  padding-left: .25em;
}

.vis-name {
  font-size: 14pt;
}

.vis-misc {
  font-size: 12pt;
}

.vis-ctitle {
  font-size: 12pt;
  font-weight: bold;
}

.vis-name {
  font-size: 12pt;
}

.vic-img {
  width: 500px;
}

.vic-buttons {
  margin: -2.5em;
  padding-left: 0.5em;
  padding-left: 3em;
}


@media (max-width: 479px) {
  .map-flex {
    width: 300px;
    display: block;
  }

  .map-img {
    width: 300px;
  }

  .map-flex {
    width: 100%;
    display: block;
  }

  .vic-img {
    width: 90%;
  }

  .weak-section{
    margin-bottom: 4em;
  }

  .vic-buttons {
    margin: -2.5em;
    padding-left: 0.5em;
    padding-left: 3em;
  }

  .vehicle-data {
    display:block;
    margin-bottom: 2em;
    padding: 0;
    margin-top: 0;
  }


  .modal-dialog {
    max-width: 95%;
  }

  .v-icon {
    display: inline;
    width: 25px;
  }

  .v-name {
    display: inline;
    font-size: 8pt;
  }

  .v-count {
    display: inline;
    font-size: 6pt;
    color: grey;
  }

  .v-respawn {
    display: inline;
    font-size: 6pt;
    color: orange;
  }

  .v-delayed {
    display: inline;
    font-size: 8pt;
    color: red;
  }

  .v-notes {
    padding: .5em;
  }
}